* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
}
a {
  text-decoration: none;
}
p {
  font-size: 1.25rem;
}
li {
  list-style: none;
}
.bold {
  font-weight: bold;
}
.btn {
  padding: 5px 5px;
  border-radius: 5px;
  border: none;
}

h1 {
  color: #da291c;
  /* #ffcc00; */
}
h2 {
  box-shadow: 1px 11px 8px -10px rgba(255, 204, 0, 0.68);
}

.top-nav {
  margin: 0 20%;
  margin-bottom: 2.5%;
}
/* hr {
  border: 1px solid #ffcc00;
} */
.top-nav-top {
  padding: 1% 2%;
  display: flex;
  justify-content: space-between;
}
.login-btn {
  padding: 0 15px;
  border-radius: 15px;
  border: none;
  background-color: #ffcc00;
}
.top-nav-bot {
  padding: 1% 0;
  padding-left: 2%;
}
.top-nav-bot > a {
  margin-right: 10%;
}

.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 20%;
}
.home-title {
  margin-bottom: 3%;
}
.home-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.home-img {
  margin-top: 15%;
}

/* HOME - LEFT SIDE */
.home-left {
  width: 50%;
}
.author {
  text-align: center;
}
.author-title {
  margin-bottom: 5%;
}
.author-socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  margin-bottom: 5%;
}
.author-socials > li {
  cursor: pointer;
}
.petition-msg-board > h2 {
  margin-bottom: 5%;
}
.petition-msg-board > hr {
  margin-bottom: 5%;
  border: 1px solid rgba(126, 126, 126, 0.3);
}
.message > p {
  margin-bottom: 3%;
}

.name-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.1px;
  border-radius: 50px;
  font-size: 1.25rem;
  width: 50px;
  height: 50px;
  background-color: #808080;
  margin-right: 15px;
}
.petition-msg {
  display: flex;
  margin-bottom: 5%;
}

/* HOME - RIGHT SIDE */
.numPetitions {
  margin-bottom: 5%;
  font-size: 1.25rem;
}
.petition-stats-message {
  font-size: 1.25rem;
  color: #808080;
}

.petition-stats {
  margin: 10% 0;
}
.petition-signup-title {
  margin-bottom: 5%;
}
#petition-signup > p {
  font-size: 0.85rem;
  margin-bottom: 1%;
}
.petition-input {
  margin-bottom: 3%;
  width: 100%;
  height: 30px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 2.5%;
}
.petition-input-textarea {
  margin-bottom: 3%;
  width: 100%;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0 2.5%;
  resize: none;
}
.petition-auth-container {
  width: 100%;
}
.auth-span {
  font-size: 0.85rem;
  /* text-align: center; */
  margin: auto;
}
/* HOME - FORM */
#petition-signup > div {
  text-align: center;
}
#petition-signup-btn {
  background-color: #ffcc00;
  width: 100%;
  height: 30px;
  padding: 2% 0;
  margin-top: 3%;
  border-radius: 10px;
}
